<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="DefalutConnection" connectionString="Data Source=TechDefault.db;Verison=3" providerName="Moon.Orm,Moon.Orm.Sqlite"/>
  </connectionStrings>
</configuration>